#!/bin/bash

# Script for setting up working environment

set -eou pipefail

trap "echo 'Terminated execution.' && exit 1" SIGTERM

USAGE="Usage: $0 start|stop|restart"

if [ $# = 0 ]; then
    echo "$USAGE"
    exit 2
fi

case "$1" in
    "start")
        brew services start spacebar
        yabai --start-service
        skhd --start-service

        # Depends on /private/etc/sudoers.d/karabiner-sudoers
        sudo launchctl load "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_grabber.plist" 2>/dev/null
        sudo launchctl load "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_observer.plist" 2>/dev/null

        launchctl enable gui/"$UID"/org.pqrs.karabiner.karabiner_console_user_server
        launchctl bootstrap gui/"$UID" /Library/LaunchAgents/org.pqrs.karabiner.karabiner_console_user_server.plist 2>/dev/null
        launchctl enable gui/"$UID"/org.pqrs.karabiner.karabiner_console_user_server
        ;;
    "stop")
        brew services stop spacebar
        yabai --stop-service
        skhd --stop-service

        # launchctl bootout gui/"$UID" /Library/LaunchAgents/org.pqrs.karabiner.karabiner_console_user_server.plist
        launchctl disable gui/"$UID"/org.pqrs.karabiner.karabiner_console_user_server

        # Depends on /private/etc/sudoers.d/karabiner-sudoers
        sudo launchctl unload "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_observer.plist" 2>/dev/null
        sudo launchctl unload "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_grabber.plist" 2>/dev/null
        ;;
	"restart")
		launchctl kickstart -k "gui/${UID}/homebrew.mxcl.spacebar"
        yabai --restart-service
        skhd --restart-service
		;;
    *) echo "$USAGE"
esac
