export GOROOT_BIN="{{ home }}/.go/goroot/current/bin"
export GOPATH_BIN="{{ home }}/.go/gopath/bin"

path=(
	"$GOROOT_BIN"
	"$GOPATH_BIN"
)
export PATH="$( IFS=":" ; echo "${path[*]}" ):$PATH"

export GOROOT="$(go env GOROOT)"
export GOPATH="$(go env GOPATH)"
export GOBIN="$GOPATH/bin"
export GOPROXY="direct"
export CGO_ENABLED=0
