export GOPATH="{{ go_gopath_env }}"
export GOROOT="{{ go_goroot_env }}"
export GOBIN="{{ go_gobin_env }}"

export GOROOT_BIN="{{ go_goroot_env }}/bin"
export GOPATH_BIN="{{ go_gobin_env }}"

export GOPROXY="direct"
export CGO_ENABLED=0

path=(
	"$GOROOT_BIN"
	"$GOPATH_BIN"
)
export PATH="$( IFS=":" ; echo "${path[*]}" ):$PATH"
