--  _   _ ___________ _____ 
-- | \ | |  _  |  _  \  ___|
-- |  \| | | | | | | | |__  
-- | . ` | | | | | | |  __| 
-- | |\  \ \_/ / |/ /| |___ 
-- \_| \_/\___/|___/ \____/ 
--


vim.g.node_host_prog = "{{ neovim_node_host_exec }}"
