#!/bin/bash

# Script for setting up working environment

set -eou pipefail

trap "echo 'Terminated execution.' && exit 1" SIGTERM

USAGE="Usage: $0 start|stop"

if [ $# = 0 ]; then
    echo "$USAGE"
    exit 2
fi

case "$1" in
    "start")
        echo "Setting up the environment..."
        brew services start spacebar
        brew services start yabai
        brew services start skhd

        # Depends on /private/etc/sudoers.d/karabiner-sudoers
        sudo launchctl load "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_grabber.plist" 2>/dev/null
        sudo launchctl load "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_observer.plist" 2>/dev/null

        launchctl enable gui/"$UID"/org.pqrs.karabiner.karabiner_console_user_server
        launchctl bootstrap gui/"$UID" /Library/LaunchAgents/org.pqrs.karabiner.karabiner_console_user_server.plist 2>/dev/null
        launchctl enable gui/"$UID"/org.pqrs.karabiner.karabiner_console_user_server
        echo "🐣 Set up completed"
        ;;
    "stop")
        echo "Tearing down the environment..." 
        brew services stop spacebar
        brew services stop yabai
        brew services stop skhd

        # launchctl bootout gui/"$UID" /Library/LaunchAgents/org.pqrs.karabiner.karabiner_console_user_server.plist
        launchctl disable gui/"$UID"/org.pqrs.karabiner.karabiner_console_user_server

        # Depends on /private/etc/sudoers.d/karabiner-sudoers
        sudo launchctl unload "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_observer.plist" 2>/dev/null
        sudo launchctl unload "/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_grabber.plist" 2>/dev/null
        echo "💀 Teardown completed"
        ;;
    *) echo "$USAGE"
esac
