#!/bin/bash

# Script for setting up working environment.

set -eou pipefail

trap "echo 'Terminated execution.' && exit 1" SIGTERM

USAGE="Usage: $0 start|stop"

if [ $# = 0 ]; then
    echo "$USAGE"
    exit 2
fi

case "$1" in
    "start")
        echo "Setting up the environment..."
        brew services start yabai
        brew services start skhd
        launchctl load "/Library/LaunchAgents/karabiner/org.pqrs.karabiner.karabiner_console_user_server.plist" 
        sudo launchctl load "/Library/LaunchDaemons/karabiner/org.pqrs.karabiner.karabiner_grabber.plist"
        sudo launchctl load "/Library/LaunchDaemons/karabiner/org.pqrs.karabiner.karabiner_observer.plist"
        open -j "/Applications/_essentials/Karabiner-Elements.app" --hide
        echo "Set up completed."
        ;;
    "stop")
        echo "Tearing down the environment..." 
        brew services stop yabai
        brew services stop skhd
        launchctl unload -F "/Library/LaunchAgents/karabiner/org.pqrs.karabiner.karabiner_console_user_server.plist" 
        sudo launchctl unload -F "/Library/LaunchDaemons/karabiner/org.pqrs.karabiner.karabiner_grabber.plist"
        sudo launchctl unload -F "/Library/LaunchDaemons/karabiner/org.pqrs.karabiner.karabiner_observer.plist" 
        killall Karabiner-Menu
        echo "Tear down completed."
        ;;
    *) echo "$USAGE"
esac
